In [242]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
from itertools import combinations
from itertools import chain

In [240]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates = ['release_date'])
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1455,tt0479884,12000000,42931041,Crank,Jason Statham|Amy Smart|Jose Pablo Cantillo|Ef...,Brian Taylor|Mark Neveldine,There are a thousand ways to raise your adrena...,Professional assassin Chev Chelios learns his ...,88,Action|Thriller|Crime,Lions Gate Films|Lakeshore Entertainment|Green...,2006-08-31,6.5,2006
1805,tt0230030,48000000,90383208,Bedazzled,Elizabeth Hurley|Brendan Fraser|Frances O'Conn...,Harold Ramis,Meet the Devil. She's giving Elliott seven wis...,"Elliot Richardson, suicidal techno geek, is gi...",93,Fantasy|Comedy|Romance,Twentieth Century Fox Film Corporation|Regency...,2000-10-19,5.3,2000
1420,tt0421239,26000000,57891803,Red Eye,Rachel McAdams|Cillian Murphy|Brian Cox|Jayma ...,Wes Craven,Fear takes flight.,After attending the funeral of her grandmother...,85,Horror|Thriller,DreamWorks SKG|Craven-Maddalena Films|BenderSpink,2005-08-04,6.1,2005
1825,tt0212346,45000000,212000000,Miss Congeniality,Sandra Bullock|Benjamin Bratt|Michael Caine|Ca...,Donald Petrie,Never Mess With An Agent In A Dress.,Gracie Hart is a tough-as-nails FBI officer. W...,111,Comedy|Crime|Action,Village Roadshow Pictures|Castle Rock Entertai...,2000-12-14,6.1,2000
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,2000-07-07,5.9,2000

In [241]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [356]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'

In [245]:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011

ВАРИАНТ 2

In [246]:
df = data[['budget', 'original_title']]                  #Оставляем значимые столбцы
display(df.sort_values('budget', ascending = False))     #Сортируем df чтобы первой строчкой получить ответ
display(data.budget.max())                               #Проверка

         budget                               original_title
723   380000000  Pirates of the Caribbean: On Stranger Tides
1669  300000000     Pirates of the Caribbean: At World's End
14    280000000                      Avengers: Age of Ultron
1014  260000000                                  John Carter
380   260000000                                      Tangled
...         ...                                          ...
885     5000000              National Lampoonâ€™s Van Wilder
892     5000000                     My Big Fat Greek Wedding
1071    5000000                        Paranormal Activity 4
911     5000000                           Jackass: The Movie
1216    5000000                              Spring Breakers

[1889 rows x 2 columns]

380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [357]:
answers['2'] = '2. Gods and Generals'

In [250]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [358]:
answers['3'] = '3. Winnie the Pooh'

In [252]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011

# 4. Какова средняя длительность фильмов?

In [359]:
answers['4'] = '2. 110'

In [254]:
round(data.runtime.mean(), 0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [360]:
answers['5'] = '1. 107'

In [256]:
round(data.runtime.median(), 0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [361]:
answers['6'] = '5. Avatar'

In [258]:
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [362]:
answers['7'] = '5. The Lone Ranger'

In [262]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [363]:
answers['8'] = '1. 1478'

In [264]:
#Первый вариант
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [364]:
answers['9'] = '4. The Dark Knight'

In [267]:
data[data['release_year'] == 2008].sort_values('profit', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [365]:
answers['10'] = '5. The Lone Ranger'

In [268]:
data[(data['release_year'] > 2011) & (data['release_year'] < 2015)].sort_values('profit', ascending = True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [366]:
answers['11'] = '3. Drama'

In [302]:
full_genres_list = []
for i in data['genres']:
    genres_list = i.split('|')
    for x in genres_list:
        full_genres_list.append(x)

print(collections.Counter(full_genres_list).most_common()[0])

('Drama', 782)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [367]:
answers['12'] = '1. Drama'

In [301]:
profit_data = data[data['profit'] > 0]

full_genres_list = []
for i in profit_data['genres']:
    genres_list = i.split('|')
    for x in genres_list:
        full_genres_list.append(x)

print(collections.Counter(full_genres_list).most_common()[0])

('Drama', 560)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [368]:
answers['13'] = '5. Peter Jackson'

In [295]:
data.groupby(['director']).revenue.sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [369]:
answers['14'] = '3. Robert Rodriguez'

In [297]:
action_movies = data[data.genres.str.contains('Action', na=False)]

full_director_list = []
for i in action_movies['director']:
    director_list = i.split('|')
    for x in director_list:
        full_director_list.append(x)

print(collections.Counter(full_director_list).most_common()[0])

('Robert Rodriguez', 9)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [370]:
answers['15'] = '3. Chris Hemsworth'

In [299]:
data_2012 = data[data.release_year == 2012]
data_2012.groupby(['cast']).revenue.sum().sort_values(ascending = False).head(1)

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [371]:
answers['16'] = '3. Matt Damon'

In [300]:
data_budget_max = data[data.budget > data.budget.mean()]
full_cast_list = []
for i in data_budget_max['cast']:
    cast_list = i.split('|')
    for x in cast_list:
        full_cast_list.append(x)

print(collections.Counter(full_cast_list).most_common()[0])

('Matt Damon', 18)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [372]:
answers['17'] = '2. Action'

In [305]:
nicolas_movies = data[data.cast.str.contains('Nicolas Cage', na=False)]

full_genres_list = []
for i in nicolas_movies['genres']:
    genres_list = i.split('|')
    for x in genres_list:
        full_genres_list.append(x)

print(collections.Counter(full_genres_list).most_common()[0])

('Action', 17)

# 18. Самый убыточный фильм от Paramount Pictures

In [373]:
answers['18'] = '1. K-19: The Widowmaker'

In [307]:
Paramount_movies = data[data.production_companies.str.contains('Paramount Pictures', na=False)]
Paramount_movies.groupby(['original_title']).profit.sum().sort_values().head(1)

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [374]:
answers['19'] = '5. 2015'

In [309]:
data.groupby('release_year').sum().sort_values('revenue', ascending = False).head(1)

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [375]:
answers['20'] = '1. 2014'

In [313]:
Warner_movies = data[data.production_companies.str.contains('Warner Bros', na=False)]
Warner_movies.groupby('release_year').sum().sort_values('profit', ascending = False).head(1)

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [376]:
answers['21'] = '4. September'

In [316]:
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [377]:
answers['22'] = '2. 450'

In [349]:
#Вариант 1
summer_movie = data[data.release_date.dt.month.isin(['6', '7', '8'])]
len(summer_movie)

450

In [322]:
#Вариант 2
data.release_date.dt.month.value_counts()[6] + data.release_date.dt.month.value_counts()[7] + data.release_date.dt.month.value_counts()[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [378]:
answers['23'] = '5. Peter Jackson'

In [324]:
winter_movie = data[data.release_date.dt.month.isin(['1', '2', '12'])]
print(winter_movie.director.value_counts().sort_values(ascending=False).head(1))

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [379]:
answers['24'] = '5. Four By Two Productions'

In [327]:
data['original_title_ln'] = data['original_title'].apply(lambda x: len(x))
longer_title = data.sort_values('original_title_ln', ascending = False).head(1)['production_companies']

for i in longer_title:
    print(i)

Twentieth Century Fox Film Corporation|Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [380]:
answers['25'] = '3. Midnight Picture Show'

In [350]:
#Вариант 1 (Своё решение)
data['original_title_words'] = data['overview'].apply(lambda x: len(x.split(' ')))
data.groupby(['production_companies']).original_title_words.mean().sort_values(ascending=False).head(1)

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show    175.0
Name: original_title_words, dtype: float64

In [331]:
#Вариант 2 (Решение подсмотрел из Slack)
data['original_title_words'] = data['overview'].apply(lambda x: len(x.split(' ')))
companies = data['production_companies'].str.split('|').explode().unique() # получим список уникальных названий компаний

sum_gen = pd.Series(dtype='float64', index=companies) # создадим серию для хранения средних значений
for comp in companies:
    sum_gen[comp] = data['original_title_words'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Midnight Picture Show               175.0
Heineken Branded Entertainment      161.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [381]:
answers['26'] = '1. The Dark Knight'

In [332]:
data_vote_average_sort = data.sort_values(['vote_average'], ascending=False)
data_vote_average_sort[data_vote_average_sort['vote_average'] > data_vote_average_sort['vote_average'].max() - 0.01 * df_vote_average_sort['vote_average'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,original_title_ln,original_title_words
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",15,67

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [382]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint верно'

In [334]:
list1 = []


cast_combinations = data.copy()
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')
cast_combinations['cast_togever']=cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))
list1 = cast_combinations.cast_togever.tolist()

Counter(list2).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [383]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '26': '1. The Dark Knight',
 '25': '3. Midnight Picture Show',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '12': '1. Drama',
 '11': '3. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. September',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '27': '5. Daniel Radcliffe & Rupert Grint верно',
 '15': '3. Chris Hemsworth'}

In [355]:
# и убедиться что ни чего не пропустил)
len(answers)

27